{% extends 'base.html' %}
{% load bootstrap4 %}

{% block corpo %}
<div class="col-lg-12">
  <a href="/activities/relatorios/list/" ><button class="btn btn-info"><span class="fas fa-backward"></span> Voltar para lista de relatórios</button></a>
</div><br>
<div class="container-fluid">
  <h5>Preencher dados</h5>
  <div>
    <form action="." class="form-horizontal" method="post">
      <div class="row">
        {% csrf_token %}
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              {% bootstrap_field form.publicador %}
            </div>
            <div class="col-lg-12">
              {% bootstrap_field form.tipo %}
            </div>
            <div class="col-lg-12">
              {% bootstrap_field form.mes %}
            </div>
            <div class="col-lg-12">
              {% bootstrap_field form.presente %}
            </div>
            <div class="col-lg-12" id="campo-horas" style="display: none;">
              {% bootstrap_field form.horas %}
            </div>
            <div class="col-lg-12" id="campo-credito" style="display: none;">
              {% bootstrap_field form.credito_horas %}
            </div>
            <div class="col-lg-12">
              {% bootstrap_field form.estudos %}
            </div>
            <div class="col-lg-12">
              {% bootstrap_field form.observacao %}
            </div>
            <div class="col-lg-12">
              {% bootstrap_field form.atv_local %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <button class="btn btn-primary" type="submit">Atualizar</button>
      </div>
    </form>
  </div>
</div>
<br>
{% endblock %}
{% block js %}
<script type="text/javascript">
  $(document).ready(function(){
    function atualizarCampos(tipo) {
      tipo = parseInt(tipo, 10);
      var permiteHoras = tipo === 1 || tipo === 2;
      var permiteCredito = tipo === 2;

      $('#campo-horas').toggle(permiteHoras);
      $('#id_horas').prop('disabled', !permiteHoras);
      $('#campo-credito').toggle(permiteCredito);
      $('#id_credito_horas').prop('disabled', !permiteCredito);

      if (!permiteHoras) {
        $('#id_horas').val('');
      }
      if (!permiteCredito) {
        $('#id_credito_horas').val('');
      }
    }

    function carregarTipo() {
      var publicador = $('#id_publicador').val();
      var mes = $('#id_mes').val();

      if (!publicador || !mes) {
        $('#id_tipo').empty();
        atualizarCampos(null);
        return;
      }

      $.ajax({
        url: '.',
        type: 'GET',
        dataType: 'json',
        data: {publicador: publicador, mes: mes},
        success: function(opcoes) {
          $('#id_tipo').empty();
          for (var i = 0; i < opcoes.length; i++) {
            $('#id_tipo').append(
              $('<option>', {value: opcoes[i][0], text: opcoes[i][1]})
            );
          }
          atualizarCampos(opcoes.length ? opcoes[0][0] : null);
        },
        error: function() {
          $('#id_tipo').empty();
          atualizarCampos(null);
        }
      });
    }

    atualizarCampos(null);
    $('#id_publicador, #id_mes').on('change', carregarTipo);
  });
</script>
{% endblock %}
