{% extends 'base.html' %}
{% load bootstrap %}

{% block corpo %}
<div class="container-fluid">
  <div>
    <div class="row">
      <div class="col-lg-6">
        <form action="." class="form-horizontal" method="post">
          {% csrf_token %}
          <h5>Editar dados</h5>
          <br>
          {{ form|bootstrap }}
          {% if perms.register.change_cong %}
          <div class="col-lg-12">
            <button class="btn btn-primary" type="submit">Confirmar</button>
          </div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}
