{% extends 'base.html' %}
{% load bootstrap4 %}

{% block corpo %}
{% if perms.register.add_publicadores %}
<div class="col-lg-12">
  <a href="/publicadores/add/" ><button class="btn btn-info"><span class="fas fa-plus"></span> Adicionar Publicador</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/publicadores/sheet/" ><button class="btn btn-info"><span class="fas fa-print"></span> Imprimir Lista</button></a>
</div>
<br>
{% endif %}
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
      role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">Filtro</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse hide" id="collapseCardExample">
      <div class="card-body">
        <form action="." method="get">
          <div class="row">
            <div class="col-lg-3">
              {% bootstrap_field form.nome %}
            </div>
            <div class="col-lg-3">
              {% bootstrap_field form.endereco %}
            </div>
            <div class="col-lg-3">
              {% bootstrap_field form.esperanca %}
            </div>
            <div class="col-lg-3">
              {% bootstrap_field form.tipo %}
            </div>
            <div class="col-lg-3">
              {% bootstrap_field form.situacao %}
            </div>
            <div class="col-lg-3">
              {% bootstrap_field form.privilegio %}
            </div>
            <div class="col-lg-3">
              {% bootstrap_field form.grupo %}
            </div>
          </div>
          <div class="col-lg-12">
            <button class="btn btn-primary" type="submit">Buscar</button>
          </div>
        </form>
      </div>
  </div>
</div>
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Dados selecionados</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table-sm table-bordered table-striped" id="example" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Tel Fixo</th>
            <th scope="col">Tel Celular</th>
            <th scope="col">Privilégio</th>
            <th scope="col">Tipo</th>
            <th scope="col">Grupo</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for publicadores in list_publicadores %}
          <tr>
            <th scope="row">{{ publicadores.nome }}</th>
            <td>{{ publicadores.telefone_fixo|default_if_none:"" }}</td>
            <td>{{ publicadores.telefone_celular|default_if_none:"" }}</td>
            <td>{{ publicadores.get_privilegio_display }}</td>
            <td>{{ publicadores.get_tipo_display }}</td>
            <td>{{ publicadores.grupo }}</td>
            <td>
              {% if perms.register.change_publicadores %}<a href="/publicadores/{{ publicadores.id }}/edit/" ><button class="btn btn-info"><span class="fas fa-pen"></span></button></a>{% endif %}
              {% if perms.register.change_publicadores %}<a href="/publicadores/{{ publicadores.id }}/view/" ><button class="btn btn-warning"><span class="fas fa-eye"></span></button></a>{% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<!-- Page level plugins -->
<script src="/static/sb/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/sb/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/sb/js/demo/datatables-demo.js"></script>
<script type="text/javascript">
  $(document).ready( function() {
    $('#example').dataTable( {
      "pageLength": 25
    });
  })
</script>
{% endblock %}
